<div class="row">
  <div>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div>
  <div>
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-input" type="text" id="post-title" name="title" />
      </div>
      <div class="form-group">
        <label for="post-desc">Body</label>
        <textarea class="form-input" id="post-body" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>
<div class="mt-4">
  {{#if posts.length}}
    <div class="post-list">
      <h3>Previous blogposts</h3>

      {{#each posts as |post|}}
        <div class="mb-4">
          <div>
            <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
          </div>
          <p>created at: {{updatedAt}}</p>
          <div>
            <button
              class="btn btn-sm btn-danger"
              data-id="{{post.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>